<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--调用静态方法，返回值作为bean （1）-->
    <!--因为MethodInvokingFactoryBean，在初始化bean时，会调用targetClass 的 targetMethod方法，把返回值作为bean，id为staticFunc1-->
    <!--app.getBean("staticFunc1", Properties.class)得到的为方法返回的结果-->
    <bean id="staticFunc1" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass">
            <value>java.lang.System</value>
        </property>
        <property name="targetMethod">
            <value>getProperties</value>
        </property>
    </bean>
    <!--调用静态方法，返回值作为bean （2）-->
    <bean id="staticFunc2" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod">
            <value>java.lang.System.getProperties</value>
        </property>
    </bean>


    <!--调用实例方法，返回值作为bean(1)-->
    <bean id="javaVersion" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="staticFunc2"/>
        <property name="targetMethod" value="getProperty"/>
        <property name="arguments">
            <list>
                <value>java.version</value>
            </list>
        </property>
    </bean>

    <!--调用实例方法，返回值作为bean的属性(2)-->
    <bean id="son1" class="spring.methodInvokingFactoryBean.Son">
        <property name="age" value="10"/>
    </bean>
    <bean id="person" class="spring.methodInvokingFactoryBean.Person">
        <property name="age" value="30"/>
        <property name="son">
            <ref bean="son1"/>
        </property>
    </bean>
    <bean id="son2" class="spring.methodInvokingFactoryBean.Son">
        <property name="age">
            <!-- 注意这里使用的是PropertyPathFactoryBean 相当于调用getter方法
            这里是调用son1的getAge方法，返回值赋值给son2.age-->
            <bean class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
                <property name="targetObject" ref="son1"/>
                <property name="propertyPath" value="age"/>
            </bean>
        </property>
    </bean>





</beans>